main {
  min-height: 100vh;
  padding: 2em 1em;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  border: none;
  background-color: aqua;
  color: #000;
  border-radius: 3em;
}
button:disabled {
  background-color: rgb(187, 187, 187);
  color: #4b4b4b;
  cursor: not-allowed;
}
