@import "../styles/variables.scss";

:root {
  color: $text-color-primary;
  font-size: 16px;
}

main {
  min-height: 100dvh;
  padding: 2em 1em;
  max-width: 700px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  border: none;
  color: $text-color-primary;
  font-weight: 700;
}
button:disabled {
  cursor: not-allowed;
}

input[type="text"] {
  border: none;
  background-color: $color-gray-very-pale;
  border-radius: 0.2em;
  box-shadow: 1px 1px 2px #0000003f;
  &:focus {
    border: none;
    border-bottom: $color-primary;
  }
}
