.canvasContainer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  canvas {
    width: 100%;
    height: auto;
    display: block;
  }
  .shareButton {
    position: fixed;
    width: 10em;
    height: 3em;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    .icon {
      margin-left: 0.3em;
    }
  }
  .downloadButton {
    position: fixed;
    width: 3em;
    height: 3em;
    bottom: 1em;
    right: 2em;
  }
}
