@import "../styles/variables.scss";

.canvasContainer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .loadingScreen {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background: gray;
    align-items: center;
    p {
      color: $color-white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  canvas {
    width: 100%;
    height: auto;
    display: block;
  }
  .shareButton {
    @include primaryButton;
    position: fixed;
    width: 10em;
    height: 4.4em;
    border-radius: 2.2em;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    .icon {
      margin-left: 0.3em;
    }
  }
  .copyButton {
    @include secondaryButton;
    position: fixed;
    width: 3em;
    bottom: 1em;
    right: 6em;
  }
  .downloadButton {
    @include secondaryButton;
    position: fixed;
    width: 3em;
    bottom: 1em;
    right: 2em;
  }
}
